@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

body {
    background: radial-gradient(rgb(68, 89, 110), rgb(125, 151, 166));
}

/*--------------------------------------------HEADER*/

nav {
    /* Help with linear-gradient from https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(to right, rgb(125, 151, 166), rgb(68, 89, 110));
    border-bottom: 4px solid white;
}

nav a {
    color: white;
    font-family: Oswald;
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 5px;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
    font-style: italic;
}

/*--------------------------------------------MAIN*/

main {
    margin-bottom: 4em;
}

#hero-outer {
    height: 40vh;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid white;
}

#hero-image {
    background-image: url("../images/hero-image.PNG");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

    /* Centres h1 text at bottom of image */
    /* Got help from W3Schools for the code below: */
    /* https://www.w3schools.com/cssref/css3_pr_align-items.asp */
    /* https://www.w3schools.com/cssref/css3_pr_justify-content.asp */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    background-color: rgba(125, 151, 166, 0.5);
    padding: 0.25em;
    border-radius: 10%;
    border: 2px solid rgb(68, 89, 110);
    font-family: Oswald;
    letter-spacing: 2px;
    font-size: 1.5em;
}

h2 {
    margin: 5em auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: 0.25em;
    font-size: 1em;
}

.card {
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    margin: 1em auto;
    text-align: center;
    max-width: 100%;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

#media-link {
    color: black;
    display: inline-block;
}

#media-link:hover {
    color: white;
    text-decoration: none;
}

.card p {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.card h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
}

/*--------------------------------------------HOMEPAGE*/

#latest-news-img {
    border: 4px solid white;
}

#about-card {
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    margin: 1em auto;
    text-align: center;
    width: 80%;
    color: white;
    border: 4px solid white;
    position: relative;
}

#about-card-img {
    background-image: url("../images/saw-doctors-who-we-are.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 500px;

    /* Got this from W3School for hovering over the image */
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

#about-card:hover #about-card-img {
    opacity: 0.7;
}

.about-popup-container {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#about-card:hover .about-popup-container {
  opacity: 1;
}

.play-btn {
    align-items: center;
    justify-content: center;
}

.custom-btn {
    color: #212529;
    background-color: white;
    border-color: white;
}

.custom-hover-btn {
    color: white;
    border-color: white;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

/*--------------------------------------------ABOUT PAGE*/

.members-img {
    width: 50%;
    border-radius: 50%;
    border: 4px solid white;
}

.history-img {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    border: 4px solid white;
}

/*--------------------------------------------MEDIA PAGE*/

.video-card {
    margin: 1em auto;
    max-width: 90%;
    border: 4px solid white;
}

.music-img {
    width: 90%;
    border: 2px solid white;
}

/*--------------------------------------------SHOP PAGE*/

.album-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.album-img {
    width: 100%;
    border: 2px solid white;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.album-container:hover .album-img {
    opacity: 0.7;
}

.popup-container {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.album-container:hover .popup-container {
  opacity: 1;
}

/*--------------------------------------------CONTACT PAGE*/

.contact-card {
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    max-width: 100%;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.contact-card i {
    font-size: 1.5em;
}

form {
    width: 90%;
    margin: 0 auto;
}

/*--------------------------------------------FOOTER*/

footer {
    color: white;
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    border-top: 4px solid white;
}

#footer-details {
    padding: 20px;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.95em;
}

footer h6 {
    line-height: 32px;
}

.footer-content-wrapper {
    display: inline-block;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    border-radius: 50%;
    border: 1px solid #A9A9A9;
    color: #fafafa;
    background: rgb(96, 120, 138);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(214, 143, 97);
}

/*--------------------------------------------SCROLLBAR*/

/* Code for custom scrollbar gotten from W3Schools */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*--------------------------------------------MEDIA QUERIES*/

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-logo, h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
        margin: 2em auto;
    }
    h5 h6 {
        font-size: 1.2em;
    }
    .card {
        max-width: 90%;
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
    .card p, .card h3 {
        font-size: 1.25em;
    }
    .history-img {
        width: 80%;
        min-height: 300px;
    }
    .contact-card {
        max-width: 90%;
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-logo {
        font-size: 2.5em;
    }
    .card, .contact-card {
        max-width: 80%;
    }
    .history-img {
        width: 90%;
        min-height: 400px;
    }
    .members-img {
        width: 75%;
    }
    .video-card {
        max-width: 70%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .history-img {
        min-height: 500px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .history-img {
        min-height: 400px;
    }
}