@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

body {
    background: radial-gradient(rgb(68, 89, 110), rgb(125, 151, 166));
}

/*--------------------------------------------HEADER*/

nav {
    /* Help with linear-gradient from https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(to right, rgb(125, 151, 166), rgb(68, 89, 110));
    border-bottom: 4px solid white;
}

nav a {
    color: white;
    font-family: Oswald;
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 5px;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 5px;
    font-style: italic;
}

/*--------------------------------------------HEADER*/

#hero-outer {
	height: 80vh;
	background: linear-gradient(to right, rgb(125, 151, 166), rgb(68, 89, 110));

	padding: 0;
	margin: 0;

    border-bottom: 4px solid white;
}

#hero-image {
    background-image: url("../images/hero-image.PNG");
	background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

    height: 100%;

    position: relative;

    /* Centres h1 text at bottom of image */
    /* Got help from W3Schools for the code below: */
    /* https://www.w3schools.com/cssref/css3_pr_align-items.asp */
    /* https://www.w3schools.com/cssref/css3_pr_justify-content.asp */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(125, 151, 166, 0.5);
    /*background: linear-gradient(to right, rgb(125, 151, 166), rgb(68, 89, 110));*/
    padding: 0.25em;
    border-radius: 10%;
    border: 2px solid rgb(68, 89, 110);
    font-family: Oswald;
    letter-spacing: 2px;
}

main {
    margin-bottom: 4em;
}

/*--------------------------------------------HOMEPAGE*/

.card-section h2 {
    margin: 2em auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: 0.25em;
}

.card {
    /*min-height: 300px;*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    margin: 1em auto;
    text-align: center;
    max-width: 80%;
    color: white;
    border: 4px solid white;
}

#about-card {
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    margin: 1em auto;
    text-align: center;
    max-width: 80%;
    color: white;
    border: 4px solid white;

    background-image: url("../images/saw-doctors-who-we-are.jpg");
	background-repeat: no-repeat;
	background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

    /* Got this from W3School for hovering over the image */
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

#about-card:hover {
    opacity: 0.7;
}

.card a {
    color: black;
    display: inline-block;
}

.card a:hover {
    color: white;
    text-decoration: none;
}

.card p {
    font-family: Roboto, sans-serif;
    font-size: 1.25em;
}

.card h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
}

.play-btn {
    align-items: center;
    justify-content: center;
}

.btn-warning {
    color: #212529;
    background-color: white;
    border-color: white;
}
.card-width {
    width: 80%;
}

/*--------------------------------------------HOMEPAGE*/

/*--------------------------------------------ABOUT PAGE*/

.members-img {
    /* -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); */
    width: 75%;
    border-radius: 50%;
    border: 4px solid white;
}

.history-img {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    border: 4px solid white;
}

/*--------------------------------------------ABOUT PAGE*/

/*--------------------------------------------VIDEO PAGE*/

.video-container {
    width: 80%;
    min-height: 550px;
    margin-bottom: 2em;
}

#main-video {
    width: 100%;
    height: 100%;
    border: 4px solid white;
}

.video-row-container {
    text-align: center;
    height: 550px;
}

.video-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-radius: .25rem;

    /* min-height: 300px; */
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    margin: 7em auto;
    text-align: center;
    max-width: 70%;
    color: white;
    border: 4px solid white;
}

.music-img {
    /* -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); */
    width: 90%;
    border: 2px solid white;
}

/*--------------------------------------------VIDEO PAGE*/

footer {
    background: linear-gradient(to right, rgb(214, 143, 97), rgb(192, 66, 66));
    min-height: 100px;
    margin: 0;
    color: white;
    border-top: 4px solid white;
}

#footer-details {
    padding: 20px;
}

footer h6 {
    line-height: 32px;
}

.right {
    text-align: right;
}

#social-wrapper {
    display: inline-block;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: radial-gradient(rgb(125, 151, 166), rgb(68, 89, 110));
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*--------------------------------------------MEDIA QUERIES*/

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .history-img {
        width: 80%;
        min-height: 300px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .history-img {
        width: 90%;
        min-height: 400px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .history-img {
        width: 90%;
        min-height: 500px;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .history-img {
        width: 90%;
        min-height: 400px;
    }
}