@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

body {
    background-color: tomato;
}

#hero-outer {
	height: 400px;
	background-color: forestgreen;

	padding: 0;
	margin: 0;
}

#hero-image {
    background-image: url("../images/hero-image.PNG");
	background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

    height: 100%;

    position: relative;

    /* Centres h1 text at bottom of image */
    /* Got help from W3Schools for the code below: */
    /* https://www.w3schools.com/cssref/css3_pr_align-items.asp */
    /* https://www.w3schools.com/cssref/css3_pr_justify-content.asp */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

/*--------------------------------------------HOMEPAGE*/

#latest-news {
    
}

#latest-news h2 {
    margin: 2em auto;
    text-align: center;
    text-decoration: underline;
}

.card {
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#latest-news .card {
    margin: 1em auto;
    text-align: center;
    max-width: 80%;
}

/*--------------------------------------------HOMEPAGE*/

footer {
    height: 50px;
    background: slateblue;
    right: 0;
    bottom: 0;
    left: 0;
}